{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}


{% load humanize %}

{% load static %}

{% block content %}
<div class="flex h-screen">
    {% include 'admin/admin_sidebar.html' %}
    
    <div class="flex-1 overflow-y-auto p-6 sm:ml-64">
        <h1 class="text-2xl font-semibold mb-4">Admin Dashboard</h1>

        <form method="GET" class="mb-6">
            <div class="flex space-x-4">
                <div class="flex-1">
                    <label for="start_date" class="block text-sm font-medium text-gray-700">Start Date</label>
                    <input type="date" name="start_date" id="start_date" value="{{ form.start_date.value|default_if_none:'' }}" class="mt-1 p-2 border rounded w-full">
                </div>
                <div class="flex-1">
                    <label for="end_date" class="block text-sm font-medium text-gray-700">End Date</label>
                    <input type="date" name="end_date" id="end_date" value="{{ form.end_date.value|default_if_none:'' }}" class="mt-1 p-2 border rounded w-full">
                </div>
                <div class="flex-1">
                    <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded w-full mt-6">Apply Filter</button>
                </div>
            </div>
        </form>
        

        <!-- Summary Metrics -->
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-5 gap-4">
            <div class="bg-white p-4 shadow rounded text-center">
                <h3 class="text-gray-600 text-sm">Total Tourists</h3>
                <p class="text-xl font-bold text-green-600">{{ total_tourists|intcomma|default:"0" }}</p>
            </div>
            <div class="bg-white p-4 shadow rounded text-center">
                <h3 class="text-gray-600 text-sm">Local Tourists</h3>
                <p class="text-xl font-bold text-blue-600">{{ local_tourists|intcomma|default:"0" }}</p>
            </div>
            <div class="bg-white p-4 shadow rounded text-center">
                <h3 class="text-gray-600 text-sm">Foreign Tourists</h3>
                <p class="text-xl font-bold text-yellow-500">{{ foreign_tourists|intcomma|default:"0" }}</p>
            </div>
            <div class="bg-white p-4 shadow rounded text-center">
                <h3 class="text-gray-600 text-sm">Total Collectors</h3>
                <p class="text-xl font-bold text-purple-600">{{ total_collectors|intcomma|default:"0" }}</p>
            </div>
            <div class="bg-white p-4 shadow rounded text-center">
                <h3 class="text-gray-600 text-sm">Total Beaches</h3>
                <p class="text-xl font-bold text-indigo-600">{{ total_beaches|intcomma|default:"0" }}</p>
            </div>
        </div>

        <!-- Charts Section -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-4">
            
            
            <div class="bg-white p-2 shadow rounded" style="height: 300px;">
                <h2 class="text-md font-semibold mb-1">Beach Visit Breakdown</h2>
                <canvas id="beachChart"></canvas>
            </div>
            
            <div class="bg-white p-2 shadow rounded" style="height: 300px;">
                <h2 class="text-md font-semibold mb-1">Tourist Type</h2>
                <canvas id="touristTypeChart"></canvas>
            </div>
            
            <div class="bg-white p-2 shadow rounded" style="height: 300px;">
                <h2 class="text-md font-semibold mb-1">Visits Over Time</h2>
                <canvas id="visitTimeChart"></canvas>
            </div>

            <div class="bg-white p-2 shadow rounded" style="height: 300px;">
                <h2 class="text-md font-semibold mb-1">Tourists by Gender</h2>
                <canvas id="genderChart"></canvas>
            </div>
        </div>


        
        <div class="flex justify-center mt-20 mb-10">
            <a href="{% url 'generate_report' %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">
                Download Report
            </a>
        </div>
        

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@4.2.1"></script>
{% block extra_scripts %}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const createChart = (id, type, data, options = {}) => new Chart(document.getElementById(id).getContext('2d'), { 
            type, 
            data, 
            options: { responsive: true, maintainAspectRatio: false, ...options } 
        });

        const chartsData = {
            gender: {
                labels: ['Male', 'Female', 'Other'],
                data: [{{ male_count }}, {{ female_count }}, {{ other_count }}],
                backgroundColor: ['#4CAF50', '#2196F3', '#FFC107']
            },
            beaches: {
                labels: {{ beach_labels|safe }},
                data: {{ beach_visits|safe }},
                backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56']
            },
            touristType: {
                labels: ['Local', 'Foreign'],
                data: [{{ local_tourists }}, {{ foreign_tourists }}],
                backgroundColor: ['#36A2EB', '#FF6384']
            },
            visitsOverTime: {
                labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
                data: [{{ jan_visits }}, {{ feb_visits }}, {{ mar_visits }}, {{ apr_visits }}, {{ may_visits }}],
                borderColor: '#007BFF'
            },
            collectorsapproved: {  // Fixed the missing comma here
                labels: {{ collector_names|safe }},
                data: {{ collector_approvals|safe }},
                backgroundColor: '#FF5733'
            }
        };

        createChart('genderChart', 'bar', { 
            labels: chartsData.gender.labels,
            datasets: [{ 
                data: chartsData.gender.data,
                backgroundColor: chartsData.gender.backgroundColor
            }]
        });

        createChart('beachChart', 'bar', { 
            labels: chartsData.beaches.labels,
            datasets: [{ 
                data: chartsData.beaches.data,
                backgroundColor: chartsData.beaches.backgroundColor
            }]
        }, { indexAxis: 'y' });

        createChart('touristTypeChart', 'doughnut', { 
            labels: chartsData.touristType.labels,
            datasets: [{ 
                data: chartsData.touristType.data,
                backgroundColor: chartsData.touristType.backgroundColor
            }]
        });

        createChart('visitTimeChart', 'line', { 
            labels: chartsData.visitsOverTime.labels,
            datasets: [{ 
                data: chartsData.visitsOverTime.data,
                borderColor: chartsData.visitsOverTime.borderColor,
                backgroundColor: 'rgba(0, 123, 255, 0.2)',
                borderWidth: 2
            }]
        });

        createChart('collectorChart', 'bar', { 
            labels: chartsData.collectorsapproved.labels,
            datasets: [{ 
                data: chartsData.collectorsapproved.data,
                backgroundColor: chartsData.collectorsapproved.backgroundColor
            }],
        });
    });



</script>
{% endblock %}

{% endblock %}
